SANITY_CONTEXT_TOKEN=
SANITY_ORG_ID=ovyb2x2k4
SANITY_PROJECT_ID=c78nb8ch
SANITY_KB_ID=kbIp9dbX1pcY
SANITY_MCP_URL=https://api.sanity.io/v1/context/organizations/ovyb2x2k4/mcp/ves-interpretation-agent
GEMINI_API_KEY=
